
<section>
    <div class="container-navbar">
      <h1 id="title">Principales resultados.</h1>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>1.</b> Distribución porcentual de la población encuestada, de 12 años o más por sexo.</h4>
                  <div class="panel-footer">
                      <app-base></app-base>
                  </div>
              </div>
          </section>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>2.</b> Porcentaje de población de 12 años o más que vivió  alguna situación de ciberacoso por grupos de edad,  según sexo.</h4>
                  <div class="panel-footer">
                      <app-horizontal-bar></app-horizontal-bar>
                  </div>
              </div>
          </section>


          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>3.</b> Porcentaje de población de 12 años o más que vivió ciberacoso según tipos de acoso experimentados.</h4>
                  <div class="panel-footer">
                      <app-dona></app-dona>
                  </div>
              </div>
          </section>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>4.</b> Porcentaje de población de 12 años o más que vivió ciberacoso por sexo, según identidad del acosador.</h4>
                  <div class="panel-footer">
                    <app-identity></app-identity>
                  </div>
              </div>
          </section>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>5.</b> Porcentaje de población de 12 años o más que vivió alguna situación de ciberacoso por grupos de edad, según sexo.</h4>
                  <div class="panel-footer">
                      <app-radar></app-radar>
                  </div>
              </div>
          </section>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>6.</b> Porcentaje de población de 12 años o más que vivió ciberacoso, según acciones llevadas a cabo para solucionarlo.</h4>
                  <div class="panel-footer">
                    <app-actions></app-actions>
                  </div>
              </div>
          </section>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>7.</b> Porcentaje de población de 12 años o más que vivió ciberacoso, por número de tipo de ciberacoso experimentado.</h4>
                  <div class="panel-footer">
                      <app-frequency></app-frequency>
                  </div>
              </div>
          </section>

          <section class="graphics">
              <div class="panel-heading">
                  <h4 class="graph-number"><b>8.</b> Porcentaje de población de 12 años o más que vivió ciberacoso por sexo, según nivel de escolaridad.</h4>
                  <div class="panel-footer">
                      <app-barras></app-barras>
                  </div>
              </div>
          </section>




