
<div class="row">
  <div class="col-md-3">
    <div style="display: block">
      <h5><b>Simbología</b></h5>
      <h5>A) <small>A. Recibir spam o virus.</small></h5>
      <h5>B) <small>B. Recibir llamadas.</small></h5>
      <h5>C) <small>C. Recibir contenido multimedia.</small></h5>
      <h5>D) <small>D. Ser contactado con identidad falsa.</small></h5>
      <h5>E) <small>E. Recibir mensajes.</small></h5>
      <h5>F) <small>F. Ser registrado en otro sitio web.</small></h5>
      <h5>G) <small>G. Robo de indentidad.</small></h5>
      <h5>H) <small>H. Rastreo de sitios web.</small></h5>
      <h5>I) <small>I. Dañar publicando inf. personal.</small></h5>
    </div>
  </div>
    <div class="col-md-3">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
</div>
