
<div class="row">
  <div class="col-md-7">
      <div style="display: block">
          <canvas baseChart *ngIf=doughnutChartData.length
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"></canvas>
        </div>
  </div>

  <div class="col-md-5">

    <strong>Tipos de acoso</strong>
    <h4><small>A. Recibir spam o virus.</small></h4>
    <h4><small>B. Recibir llamadas.</small></h4>
    <h4><small>C. Recibir contenido multimedia.</small></h4>
    <h4><small>D. Ser contactado con identidad falsa.</small></h4>
    <h4><small>E. Recibir mensajes.</small></h4>
    <h4><small>F. Ser registrado en otro sitio web.</small></h4>
    <h4><small>G. Robo de indentidad.</small></h4>
    <h4><small>H. Rastreo de sitios web.</small></h4>
    <h4><small>I. Dañar publicando inf. personal.</small></h4>
    <h4><small>J. Ser obligado a dar su contraseña.</small></h4>
  </div>
</div>
